@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin striped-bg($stripe-color: rgb(255, 0, 0),  $stripes-num: 4,$direction: 45deg) {
    $transparent: rgba(0, 0, 0, 0);

    $stripes-num: $stripes-num * 2;
    $stripe-width: 100% /$stripes-num;
    $gradient: ();

    @for $i from 1 through ($stripes-num - 1) {
        $item: $stripe-color;
        $dump: ();

        @if $i % 2  == 0 {
            $dump: $item $stripe-width * ($i), $transparent $stripe-width * $i;
        } @else {
            $dump: $transparent $stripe-width * $i, $item $stripe-width * ($i);
        }
        $gradient: join($gradient, $dump, comma);
    }
    background: linear-gradient($direction, $gradient);
}
