.controlModule
  background-color: #95000C
  width: 72vw
  height: 50vh
  min-width: 750px
  margin: 2vh auto 2vh auto

  .tabControl
    list-style-type: none
    margin: 0
    padding: 0
    overflow: hidden

    li
      float: left
      width: percentage(1/6)
      background-color: #66000C

      .tabIcon
        display: inline

      a
        display: block
        padding: 2vh 0
        transition: 0.2s

        text-align: center
        white-space: nowrap
        overflow: hidden

        svg
          +size(1.1em)
          margin-right: 0.2em
          vertical-align: middle
          stroke: #FFF

          path
            fill: #FFF !important

        span
          vertical-align: middle
          font-size: 1em

    li:hover, .active, :focus
      background-color: #95000C

  .tabContent
    display: none
