<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Camera Maintenance App</title>
        <link rel="stylesheet" type="text/css" href="static/css/appStyle.css">

        <!--Import jQuery-->
        <script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>

        <!--Buttons do what? Buttons do this.-->
        <script type="text/javascript" src="static/js/runcommands.js"></script>

    </head>
    <body>
        <button type="button" class="commandbutton" id="memes">Do a thing!</button>
        <button type="button" class="commandbutton" id="NO-MEMES">Do a less cool thing!</button>
        <input type = "text" id = "feedbackText" />
        <a href="/logout">Logout</a>
    </body>
</html>