<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Camera Maintenance App</title>
        <link rel="stylesheet" type="text/css" href="static/css/appStyle.css">

        <!--Import jQuery-->
        <script type="text/javascript" src="static/js/jquery-3.1.1.js"></script>

        <!--Buttons do what? Buttons do this.-->
        <script type="text/javascript" src="static/js/runcommands.js"></script>

    </head>
    <body>
        <div class="header">
            <a href="/logout" class="logoutText">Logout</a>
            <img src="/static/img/fireballLogo.png">
        </div>
        <div class="moduleWrapper">
            <div class="commandModule">
                <h3 class="moduleHeader">Status Checks</h3>
                <button type="button" class="commandbutton" id="StatusCheck">Check General Status</button>
                <button type="button" class="commandbutton" id="IntervalCheck">Interval Test</button>
                <button type="button" class="commandbutton" id="GPSCheck">Check GPS</button>
            </div>
            <div class="commandModule">
                <h3 class="moduleHeader">Camera Controls</h3>
                <button type="button" class="commandbutton" id="CameraOn">Enable Camera</button>
                <button type="button" class="commandbutton" id="CameraOff">Disable Camera</button>
            </div>
            <div class="commandModule">
                <h3 class="moduleHeader">Hard Drive Controls</h3>
                <button type="button" class="commandbutton" id="HDDOn">Enable Ext. HDD</button>
                <button type="button" class="commandbutton" id="HDDOff">Disable Ext. HDD</button>
                <button type="button" class="commandbutton" id="UnmountHDD">Unmount Ext. HDD</button>
                <button type="button" class="commandbutton" id="CheckSpace">Check Ext. HDD Status</button>
                <button type="button" class="commandbutton" id="Data0Check">Get /data0 contents</button>
            </div>
        </div>
        <div class="feedbackWrapper">
            <div class="statusGUI">
                <h3 class="statusHeader">
                    System Status
                </h3>
                <div class="statusElement">
                    <label for="cameraLight">Camera</label>
                    <div id="cameraLight" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="GPSLight">GPS</label>
                    <div id="GPSLight" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="InternetLight">Internet</label>
                    <div id="internetLight" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="IntervalLight">Interval Control</label>
                    <div id="intervalLight" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="HDD0Light">/data0</label>
                    <div id="HDD0Light" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="HDD1Light">/data1</label>
                    <div id="HDD1Light" class="statusLight">
                    </div>
                </div>
                <div class="statusElement">
                    <label for="HDD2Light">/data2</label>
                    <div id="HDD2Light" class="statusLight">
                    </div>
                </div>
            </div>
            <textarea id="feedbackText" readonly></textarea>
        </div>
    </body>
</html>