<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Camera Mainenance Login</title>
    </head>
    <body>
        <form id="loginform">
            <div id="usernameInputArea">
                <label for="userName">Username: </label>
                <input type="text" name="userName" id="userName">
            </div>
            <div id="passwordInputArea">
                <label for="passWord">Password: </label>
                <input type="text" name="passWord" id="passWord">
            </div>
            <div>
                <input type="submit" value="Log In">
            </div>
        </form>

        </form>
    </body>
</html>