$def with (form)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Camera Maintenance Login</title>
        <link rel="stylesheet" type="text/css" href="/static/loginStyle.css">
    </head>
    <body>
        <div class="contentWrapper">
            <div class="loginHeading">
                <h1 class="heading">User Login</h1>
            </div>
            <div class="loginForm">
                <form method="POST">
                    $:form.render()
                </form>
            </div>
        </div>
    </body>
</html>